* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.global {
    font-size: 16px; /* Set a default root font size */
  }

  .MuiFormLabel-root {
    font-size: 1rem; /* Adjust the font size as needed */
  }
  
  .Mui-focused .MuiFormLabel-root {
    font-size: 0.8rem; /* Adjust the font size when focused */
  }
  
  /* If you want to keep the label size consistent when floating */
  .MuiFormLabel-root.MuiInputLabel-shrink {
    font-size: 1rem; /* Same as the non-focused state */
  }
  
  html, body {
    margin: 0;
    display: flex;
    height: 70rem;
    width: 120rem;
    /* justify-content: center!important; */
    /* align-items: center; */
    background-color: #D8EDF3;
    position: absolute;
    top: 0rem;
    /* left: 0; */
  }
  .MainBrowserBox {
    position: absolute;
    border-radius: 1rem;
    width: 92%;
    align-items: center;
    justify-content: center!important;
    /* border: 1px solid #ccc; */
    top: 4rem;
    left: 0;
    padding: 1rem;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    margin: 5rem;
  }

  .MainHotelBox {
    position: absolute;
    border-radius: 1rem;
    width: 92%;
    align-items: center;
    justify-content: center!important;
    border: 1px solid #ccc;
    top: 4rem;
    left: 0;
    padding: 1rem;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    margin: 5rem;
  }


.MuiGrid-container.position-top-left {
  position: relative;
  top: 0;
  left: 0;
}

  .gridContainer {
    border: 2px solid #a0c2a0;
    background-color: #a0c2a0;
    border-radius: 1rem;
    padding: 1rem;
    /* Add any container styles here */
    padding: 1rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .containerInfoItems {
    padding: 1rem;
  }

  .containerInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .tabContainer {
    padding: 4rem;
    margin-top: 10rem;
  }
  .containerTabs {
    display: flex;
    border: 4px solid #a0c2a0;
    margin-top: 3rem!important;
    margin-left: 0.5rem!important;
    margin-right: 0.5rem!important;
    flex-direction: column;
    padding-right: 2rem!important;
    padding-bottom: 2rem!important;
  }
  .containerTabsData {
    display: flex;
    max-width: 105rem;
    border: 1px solid #d5dfd5;
    background-color: #ececec;
    margin-top: 3rem!important;
    margin-left: 0.5rem!important;
    margin-right: 0.5rem!important;
    flex-direction: column;
    padding-right: 2rem!important;
    padding-bottom: 2rem!important;
  }

  .containerTabsDataRooms {
    display: flex;
    max-width: 105rem;
    margin-top: 3rem!important;
    margin-left: 0.5rem!important;
    margin-right: 0.5rem!important;
    flex-direction: column;
    padding-right: 2rem!important;
    padding-bottom: 2rem!important;
  }

  .containerTabsDataRoomsData {
    display: flex;
    max-width: 105rem;
    margin-top: 3rem!important;
    margin-left: 0.5rem!important;
    margin-right: 0.5rem!important;
    flex-direction: column;
    padding-right: 1rem!important;
    padding-bottom: 2rem!important;
    border: 4px solid #a0c2a0;
  }

  .containerTabsDataEmployee {
    display: flex;
    flex-direction: column;
    border: 4px solid #a0c2a0;
    padding: 1rem !important;
    margin-left: 0.1rem !important;
    margin-top: 1.5rem !important;
  }

  .employeeDataVacancyButtonBox {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Ensure button styles do not override flex settings */
    margin: auto; /* Center the button in the middle horizontally */
  }

  .employeeDataVacancyButton {
    margin: 1rem !important;
  }


  .dialogContainer {
    width: 78rem!important;
    padding: 1rem!important;
    display: flex;
    justify-content: center!important;
  }

  .buttonContainerTabsData {
    display: flex;
    margin-top: 3rem!important;
    margin-left: 0.5rem!important;
    margin-right: 0.5rem!important;
    flex-direction: column;
    padding-right: 2rem!important;
  }

  
  .gridItem {
    border: 2px solid #B6E0C5;
    background-color: #B6E0B6;
    border-radius: 1rem;
    height: 10rem;
    display: flex;
    padding: 1rem;
    margin: 0.5rem;
  }
  

  .gridTextfieldInput {
    border: 4px solid #B6E0C5;
    max-width: '100%';
    margin-top: 4rem;
    box-sizing: border-box;
  }

  .gridTextfieldDescription {
    border: 4px solid #B6E0C5;
    max-width: '100%';
    width: 80%; /* Make the TextField take full width of its container */
    display: flex; /* Flex display for centering content */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    box-sizing: border-box;
  }


  